{
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 2,
	"endOfLine": "lf",
	"jsxSingleQuote": true,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/screens/(.*)$",
		"^@/components/(.*)$",
		"^@/ui/(.*)$",
		"^@/types/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",

		"^@/configs/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.styled)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
